body{
    margin:0%
}
div{
    position:absolute;
    padding: 40px;
    top: 15%;
    left:35%;
    border: 1px solid white;
    border-radius: 4px;
}
input{
    border:none;
    min-width: 100px;
    width:300px;
    padding:10px;
    background-color: whitesmoke;
    margin-bottom: 10px;
}
input:focus{
    outline: none;
    color: white;
    background-color: rgba(70,131,180,0.35);
}
button{
    background-color: rgb(175,102,243);
    color: white;
    margin: 20px;
    width: 90px;
    height: 30px;
    border: none;

}